/Reference-ReportDB
/Reference-SWIPR
/Data/hrrr
/Data/processed
/Data/reports
/Reference-Stormigami
/Data/products/spc_cache
/Data/products
/Data/figs_w/processed
/Data/figs_w/reports
/Data/figs_w/static/src
